// ========================================================================
// Pages
// ========================================================================

.pages {
    
    > * {
        position: absolute;
        visibility: hidden;
        z-index: -1;

        &.active {
            position: relative;
            visibility: visible;
            z-index: initial;
        }
    }
}