<div class="panel panel-default">
    <div class="panel-heading">
        VERMELHO
    </div>
    <div class="panel-body">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#redChart">GRAFICO</a></li>
            <li><a data-toggle="tab" href="#redNumbers">NUMEROS</a></li>
        </ul>
        <div class="tab-content">
            <div id="redChart" class="tab-pane fade in active">
                <div class="chart-red-histogram"></div>
            </div>
            <div id="redNumbers" class="tab-pane fade">
                <p class="statistics">
                    <strong>Media: </strong> {{statistics.red.average}} <br>
                    <strong>Mediana: </strong> {{statistics.red.median}} <br>
                    <strong>Moda: </strong> {{statistics.red.mode}} <br>
                    <strong>Variancia: </strong> {{statistics.red.variance}}
                </p>
            </div>
        </div>
    </div>
</div>