<div class="panel panel-default">
    <div class="panel-heading">
        CINZA
    </div>
    <div class="panel-body">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#grayChart">GRAFICO</a></li>
            <li><a data-toggle="tab" href="#grayNumbers">NUMEROS</a></li>
        </ul>
        <div class="tab-content">
            <div id="grayChart" class="tab-pane fade in active">
                <div class="chart-gray-histogram"></div>
            </div>
            <div id="grayNumbers" class="tab-pane fade">
                <p class="statistics">
                    <strong>Media: </strong> {{statistics.gray.average}} <br>
                    <strong>Media metade da direita: </strong> {{statistics.gray.averageRightHalf}}
                    <br>
                    <strong>Mediana metade da esquerda: </strong> {{statistics.gray.medianLeftHalf}}
                    <br>
                    <strong>Moda diagonal principal: </strong> {{statistics.gray.modeAboveMainDiagonal}}
                    <br>
                    <strong>Mediana: </strong> {{statistics.gray.median}} <br>
                    <strong>Moda: </strong> {{statistics.gray.mode}} <br>
                    <strong>Variancia: </strong> {{statistics.gray.variance}}
                </p>
            </div>
        </div>
    </div>
</div>