<div class="panel-heading">
    <h3 class="panel-title">TRANSLAÇÃO</h3>
</div>
<div class="panel-body">
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon">X</span>
                <input type="number" class="form-pos-x form-control">
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon">Y</span>
                <input type="number" class="form-pos-y form-control">
            </div>
        </div>
    </div>
</div>