// ========================================================================
// SEGMENTATION
// ========================================================================
.morphologies-page {
    .panel-morphology {
        position: fixed;
        width: 400px;
        height: 400px;
        top: 100px;
        right: 50px;
    }
}