<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">PDI playground</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#home" data-page-link>
                        <i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;HOME
                    </a>
                </li>
                <li>
                    <a href="#statistics" data-page-link>
                        <i class="glyphicon glyphicon-stats"></i>&nbsp;&nbsp;STATISTICS
                    </a>
                </li>
                <li>
                    <a href="#transform" data-page-link>
                        <i class="glyphicon glyphicon-tint"></i>&nbsp;&nbsp;FILTERS
                    </a>
                </li>
                <li>
                    <a href="#transform" data-page-link>
                        <i class="glyphicon glyphicon-move"></i>&nbsp;&nbsp;TRANSFORMS
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>