<section class="panel panel-default">
    <div class="panel-heading">
        OPÇÕES
    </div>
    <div class="panel-body">
        <form class="row">
            <div class="form-group col-md-12">
                <select name="filterName" class="form-control">
                    <option value="DILATACAO-CINZA">DILATAÇÃO</option>
                    <option value="DILATACAO">DILATAÇÃO</option>
                </select>
            </div>
            <div class="form-action col-md-12">
                <button type="submit" class="btn btn-default">APLICAR</button>
            </div>
        </form>
    </div>
</section>