<section class="panel panel-default panel-translation" data-panel-name="TRANSLACAO" data-fragment="translation"></section>
<section class="panel panel-default panel-rotation" data-panel-name="ROTACAO" data-fragment="rotation"></section>
<section class="panel panel-default panel-enlarge" data-panel-name="AMPLIACAO" data-fragment="enlarge"></section>
<section class="panel panel-default panel-reduction" data-panel-name="REDUCAO" data-fragment="reduction"></section>
<section class="panel panel-default panel-mirroring" data-panel-name="ESPELHAMENTO" data-fragment="mirroring"></section>