<div class="row">
    <div class="col-md-4">
        <canvas id="PDI_CANVAS" height="512" width="512" style="border: 1px solid #000000"></canvas>
    </div>
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-12" data-fragment="color-gray">
            </div>
            <div class="col-sm-6" data-fragment="color-red">
            </div>
            <div class="col-sm-6" data-fragment="color-green">
            </div>
            <div class="col-sm-6" data-fragment="color-blue">
            </div>
            <div class="col-sm-6" data-fragment="color-alpha">
            </div>
        </div>
    </div>
</div>